// BORDERS
$blue-border:  #29487D;
$gray-border: #BDC7D8;
$gray-light-border: #D4D5DC;
$gray-lighter-border: #E9EAED;

// BACKGROUNDS
$gray-background-light: #F6F7F9;
$gray-background-default: #E9EBEE;
$blue-light-background: #EDF0F5;

// FONTS
$blue-medium-font: #365899;
$gray-font: #90949C;
$dark-gray-font: #4B4F56;

// BLUES
$blue-default: #3B5998;
$blue-dark-font: #464C9F;
$blue-medium-dark: #4267B2;
$blue-medium-icon: #6B74C9;
$blue-medium: #6D84B4;
$blue-lighter: #AFBDD4;
$blue-lightest: #D8DFEA;

// MISCELLANEOUS
$light-green: #609D4D;
$dark-gray: #1D2129;
$gray-shadow: #BBB;
