@import 'colors';

.friend-request-container, .friend-container {
  width: 900px;
  background: white;
  margin: 0 auto;
  border: 1px solid $gray-light-border;
}

.friend-request-item:not(:last-child):after, .friend-item:not(:last-child):after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: $gray-light-border;
  margin: 0 0 0 30px;
  position: absolute;
  bottom: 0;
}

.friend-request-container h3, .friend-container h3 {
  background-color: $gray-background-light;
  padding: 16px 16px;
  margin: 0 auto;
  border-bottom: 1px solid $gray-light-border;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  vertical-align: middle;
}

img.friend-request-icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 10px;
}

.friend-request-body, .friend-body {
  background-color: white;
}

.no-friend-requests, .no-friends {
  text-align: center;
  margin: 20px auto;
}

// FRIEND REQUEST INDEX ITEMS //////////////////////////
.friend-request-item, .friend-item {
  position: relative;
  padding: 20px;

  h4 {
    display: inline-block;
    color: $blue-medium-font;
    margin: 0;
    font-size: 16px;
    padding: 30px;
    position: absolute;
  }

  img {
    height: 77px;
    width: 77px;
    display: inline-block;
  }
}

.friend-request-buttons, .friend-buttons {
  display: inline-block;
  float: right;
  margin-top: 8px;

  button, input[type="submit"] {
    cursor: pointer;
    padding: 5px 10px;
    float: right;
    border-radius: 3px;
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold;
  }

  button.confirm {
    background-color: $blue-medium-dark;
    color: white;
    border: 1px solid $blue-border;
  }

  button.delete-request, button.remove-friend {
    background-color: $gray-background-light;
    color: $dark-gray-font;
    border: 1px solid $gray-light-border;
  }

}

// FRIENDS INDEX ######################
img.friend-icon {
 height: 35px;
 width: 35px;
 display: inline-block;
 margin-right: 10px;
}

.friend-container {
  margin-top: 27px;
}
