@import 'colors';

.header-main {
  background-color: $blue-default;
  height: 42px;
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  z-index: 100;
}

.header-nav {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.f-square-icon {
  height: 30px;
  width: auto;
  display: inline-block;
  margin: auto 50px;
}

.header-user {
  height: 100%;
  display: flex;
  vertical-align: middle;
}

.header-user-icon {
  height: 30px;
  width: auto;
  border-radius: 3px;
  margin: auto 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, .1);
}

.username-link {
  color: white;
  margin: auto;
  font-weight: bold;
}

button.button-logout {
  background-color: $blue-medium-dark;
  border: 1px solid $blue-border;
  border-radius: 5px;
  padding: 4 9px;
  color: white;
  text-align: center;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}
