@import 'colors';

.header-main {
  background-color: $blue-default;
  height: 42px;
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  z-index: 100;
  border-bottom: 1px solid $blue-border;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.f-square-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: auto 50px;
}

.f-square-icon img {
  height: 100%;
}

// SEARCH BAR /////////////////////////////////////

aside.search-bar {
  align-self: center;
  position: relative;
}

.search-bar-head {
  display: flex;
  vertical-align: middle;
  background-color: $gray-background-default;
  border-radius: 3px;
}

.search-bar input[type="text"] {
  display: inline-block;
  margin-bottom: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: auto 15px;
}

ul.search-results {
  position: absolute;
  z-index: 100;
  border: 1px solid $gray-border;
}

li.search-item {
  background-color: white;
  width: 212px;
  vertical-align: middle;
}

li.search-item:hover {
  background-color: $blue-background-highlight;
}

li.search-item img {
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: 5px 10px 5px 5px;
}

// CURRENT USER ///////////////////////////////////////

.header-user {
  height: 100%;
  display: flex;
  vertical-align: middle;
}

.header-user-icon {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin: auto 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $blue-border;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.username-link {
  color: white;
  margin: auto;
  font-weight: bold;
}

.home {
  color: white;
  margin: auto 30px;
  font-weight: bold;
  vertical-align: middle;
}

button.button-logout {
  background-color: $blue-medium-dark;
  border: 1px solid $blue-border;
  border-radius: 5px;
  padding: 4 9px;
  color: white;
  text-align: center;
  height: 27px;
  width: 77px;
  margin: auto 50px;
  font-size: 14px;

}
