.header-main {
  background-color: #3B5998;
  height: 42px;
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  z-index: 100;
}

.header-nav {
  padding: 8px 10px;
  display: flex;
}

.f-square-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

button.button-logout {
  background-color: #4267B2;
  border: 1px solid #29487D;
  border-radius: 5px;
  padding: 4 9px;
  color: white;
  text-align: center;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}

.username-link {
  color: white;
  margin: 10px 40px;
  font-weight: bold;
}
