@import 'colors';

html, body {
  height: 100%;
  background-color: $gray-background-default;
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
}

#content {
  height: 100%;
}

div.app-container {
  height: 100%;
}

.logged-out-page {
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
  background-color: $blue-light-background;
  padding-bottom: 35px;
  height: 100%;
}

.logged-out-header {
  color: white;
}

.logged-out-container {
  background-color: $blue-default;
  padding: 10px;
}

.logged-out-header-nav {
  display: flex;
  justify-content: space-around;
}

.fd-logo {
  display: inline-block;
  font-size: 36px;
  letter-spacing: 1px;
  width: 170px;
  height: 34px;
  font-weight: bold;
  position: relative;
}

.fd-logo a {
  position: absolute;
  top: 10px;
}

.login-form-box.clearfix {
  display: flex;
}

.login-form-box {
  float: right;
}

label {
  margin-right: 22px
}

.login-form-box > input {
  background-color: white;
}

input[type="password"], input[type="text"] {
  display: block;
  background: white;
  color: black;
  padding: 4px 5px;
  margin-bottom: 10px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

input[type="submit"], .demo {
  background: $blue-medium-dark;
  border: 1px solid $blue-border;
  padding: 0 13px;
  height: 35px;
  align-self: center;
}

.demo {
  margin-left: 8px;
}

input[type="select"] {
  font-size: 18px;
}

.logged-out-body {
  margin: 0 auto;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 15px 0;
}

.signup-form-header > h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 10px
}

.signup-form-header > h2 {
  font-size: 19px;
  margin: 10px
}

.signup-form-box {
  width: 350px;
}

.signup-form-box > input {
  padding: 8px 10px;
  border: 1px solid $gray-border;
  border-radius: 5px;
  width: 94%;
  font-size: 18px;
}

.new-user-name {
  display: flex;
  justify-content: space-between;
}

.new-user-name > input {
  padding: 8px 10px;
  border: 1px solid $gray-border;
  width: 50%;
  font-size: 18px;
  border-radius: 5px;
}

#new-last-name {
  margin-left: 10px;
}

#signup-button {
  width: 25%;
  height: auto;
  margin: 10px 0;
  background: $light-green;
  color: white;
  text-align: center;
}

.signup-form {
  float: right
}

.signup-left {
  float: left;
  width: 30%;
  height: 100px;
}

form > p {
  font-size: 12px;
  margin-top: 10px;
}

.signup-birthday {

}

.signup-gender {
  margin: 13px 0;
}
