.logged-out-page {
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
  letter-spacing: normal;
}

.logged-out-header {
  width: 100%;
  height: 82px;
  background-color: #3B5998;
  color: white;
}


.header-nav {
  width: 980px;
  margin: 0 auto;
  /*margin: 0 auto 15px auto;*/
  /*float: right;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
}



.fd-logo {
  display: inline-block;
  float: left;
  font-size: 36px;
  letter-spacing: 1px;
  width: 170px;
  height: 34px;
  margin-top: 17px;
  /*color: white;*/
}

.login-form-box {
  display: inline-block;
  float: right;
}

.login-form-box > input {
  background-color: white;
}


input[type="password"], input[type="text"] {
  background: white;
  color: black;
}

input[type="submit"] {
  background: #4267B2;
  border: 1px solid #29487D;
  /*padding: 8px 10px;*/
}

.logged-out-body {
  width: 900px;
  margin: 0 auto;
}

.signup-left {

}

.signup-form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 15px 0;
}

.signup-form-header > h1 {
  font-size: 36px;
}

.signup-form-header > h2 {
  font-size: 19px;
  margin-bottom: 20px;
}

.signup-form-box {
  width: 377px;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.signup-form-box > input {
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  margin: 8px 10px;
  width: 377px;
  font-size: 18px;
}

.new-user-name {
  display: flex;
  justify-content: space-between;
}

.new-user-name > input {
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  margin: 8px 0 8px 10px;
  width: 172px;
  font-size: 18px;
  border-radius: 5px;
}

#signup-button {
  width: 75px;
  background-color: green;
}

.signup-form {
  /*display: inline-block;*/
  float: right
}

.signup-left {
  /*display: inline-block;*/
  float: left;
  width: 365px;
  height: 100px;
  background: green;
}
