@import 'colors';

.newsfeed-container {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 25px auto 0 auto;
}

.newsfeed-left {
  width: 18%;
}

.newsfeed-left li {
  vertical-align: middle;
}

.newsfeed-left li:hover {
  cursor: pointer;
  background-color: #DDDFE2;
}

.newsfeed-left li a {
  height: 100%;
  width: 100%;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

li.title-gray {
  color: #666666;
  margin-top: 22px;
  margin-bottom: 4px;
}

li.title-gray:hover {
  background-color: none;
  cursor: default;
}

.left-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin-right: 10px;
}

.left-friends-icon {
  height: 29px;
  width: 29px;
  padding: 1px;
}

.newsfeed-left h5 {
  display: inline-block;
  margin: 0;
}

.newsfeed-right {
  width: 23%;
}

.newsfeed-right-item {
  width: 100%;
  align-content: center;
  background-color: white;
  border: 1px solid $gray-light-border;
  padding: 12px 0;
  font-size: 14px;
  margin: 0 auto 25px auto;
  text-align: center;
}

.newsfeed-right-item img {
  height: auto;
}

.newsfeed-right-item span {
  // font-size: 12px;
}

.git-logo {
  width: 30%;
  margin: 10px auto;
}

.linkedin-logo {
  width: 30%;
  margin: 10px auto;
  margin-bottom: 0;
}

.portfolio-logo {
  width: 40%;
  margin: 10px auto;
}

.newsfeed-main {
  width: 51%;
}

img.post-arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: auto 6px;
}

.two-friends p {
  margin: 0;
  padding: 0 6px;
  text-align: center;
}

.post-friends-info {
  display: flex;
  justify-content: space-between;
}

.post-friends-text {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  text-align: center;
}

.post-friends-text h5 {
  display: inline-block;
  color: $blue-medium-font;
  margin: 0;
  font-size: 16px;
}

.post-friends-text h6 {
  display: inline-block;
  color: $gray-font;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 13px;
}
