@import 'colors';

.newsfeed-container {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 25px auto 0 auto;
}

.newsfeed-left {
  width: 18%;
  background: white;
  border: 1px solid $gray-light-border;
}

.newsfeed-right {
  width: 23%;
  background: white;
  border: 1px solid $gray-light-border;
}

.newsfeed-main {
  width: 51%;
}

img.post-arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: auto 6px;
}

.two-friends p {
  margin: 0;
  padding: 0 6px;
  text-align: center;
}

.post-friends-info {
  display: flex;
  justify-content: space-between;
}

.post-friends-info img {
  height: 77px;
  width: auto;
  display: inline-block;
  margin: 16px 16px 0 16px;
}


.post-friends-text {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  text-align: center;
}

.post-friends-text h5 {
  display: inline-block;
  color: $blue-medium-font;
  margin: 0;
  font-size: 16px;
}

.post-friends-text h6 {
  display: inline-block;
  color: $gray-font;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 13px;
}
