@import 'colors';

.profile-photos-full {
  width: 900px;
  margin: 0 auto;
}

.profile-photos-full h3 {
  background-color: $gray-background-light;
  padding: 16px 16px;
  margin: 0 auto;
  border-left: 1px solid $gray-light-border;
  border-right: 1px solid $gray-light-border;
  border-top: 1px solid $gray-light-border;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

img.photos-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.upload-photo {
  display: inline-block;
}

button.add-photo-button {
  float: right;
  background: #4267B2;
  border: 1px solid #29487D;
  padding: 3px 14px;
  height: auto;
  align-self: center;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin: -23px 8px 5px 10px;
}

.no-photos {
  text-align: center;
  margin: 20px auto;
  background: white;
  margin: 0;
  padding: 20px 0;
  border: 1px solid $gray-light-border;
}

.photo-list {
  background: white;
  border: 1px solid $gray-light-border;
  overflow: visible;
}

li.photo-clickable {
  float: left;
  width: 218.75px;
  height: 218.75px;
  background: $gray-light-border;
  border: 1px solid $gray-light-border;
  box-sizing: border-box;
  margin: 5px 0 0 5px;
  position: relative;
}

li.photo-clickable button {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-clickable img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grow {
  transition: all .1s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  z-index: 1;
}

.grow:hover .delete-photo {
  display: block;
}

.delete-photo {
  position: absolute;
  z-index: 1005;
  font-size: 14px;
  color: white;
  bottom: 0px;
  left: 21px;
}

button.close-modal-photo {
  position: absolute;
  top: 0;
  right: 5px;
}

.modal-backdrop {
  opacity:0.5 !important;
  color: black;
}

.ReactModal__Overlay {
  z-index: 1000;
  background-color: black;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

img.modal-photo {
  border-radius: 3px
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
  background-color: black;
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}
