@import 'colors';

.profile-photos-full {
  width: 900px;
  margin: 0 auto;
}

.profile-photos-full h3 {
  background-color: $gray-background-light;
  padding: 16px 16px;
  margin: 0 auto;
  border-left: 1px solid $gray-light-border;
  border-right: 1px solid $gray-light-border;
  border-top: 1px solid $gray-light-border;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

img.photos-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.upload-photo {
  display: inline-block;
}

button.add-photo-button {
  float: right;
  background: #4267B2;
  border: 1px solid #29487D;
  padding: 3px 14px;
  height: auto;
  align-self: center;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin: -23px 8px 5px 10px;
}

.no-photos {
  text-align: center;
  margin: 20px auto;
  background: white;
  margin: 0;
  padding: 20px 0;
  border: 1px solid $gray-light-border;
}

.photo-list {
  background: white;
  border: 1px solid $gray-light-border;
  overflow: visible;

}

li.photo-clickable {
  float: left;
  width: 218.75px;
  height: 218.75px;
  background: $gray-light-border;
  border: 1px solid $gray-light-border;
  box-sizing: border-box;
  margin: 5px 0 0 5px;
}

.photo-clickable img {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
}
