@import 'colors';

/* GENERAL DEFAULTS **************************/
html, body {
  height: 100%;
  background-color: $gray-background-default;
}

.profile-page {
  margin: 0 auto;
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
  width: 900px;
}

/* PROFILE HEADER **************************/
.profile-nav {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}

.background-container {
  width: 900px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-color: $dark-gray;
  border-left: 1px solid $gray-light-border;
  border-right: 1px solid $gray-light-border;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
//
// .background-img {
//   border-right: 1px solid $gray-light-border;
//   position: absolute;
//   width: 100%;
//   margin: 0 auto;
//   display: inline-block;
//   // background-color: $dark-gray;
// }

.profile-header-nav {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.profile-img-container {
  display: block;
  position: absolute;
  margin-top: -134px;
  margin-left: 20px;
  height: 160px;
  width: 160px;
  background-color: #white;
  border: 4px solid white;
  border-radius: 2px;
  box-shadow: 1px 1px $gray-shadow;
  z-index: 10;

  img {
    height: 100%;
    width: 100%;
    // margin: 0;
    object-fit: cover;
  }
}

// .profile-img {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   object-fit: cover;

  // display: block;
  // position: absolute;
  // margin-top: -134px;
  // margin-left: 20px;
  // height: 160px;
  // width: 160px;
  // background-color: #white;
  // border: 4px solid white;
  // border-radius: 2px;
  // box-shadow: 1px 1px $gray-shadow;
  // z-index: 10;
// }

.profile-nav h1 {
  position: absolute;
  bottom: 80px;
  left: 228px;
  color: white;
  font-size: 29px;
  z-index: 15;
  text-shadow: -1px 0 $dark-gray,0 1px $dark-gray,1px 0 $dark-gray,0 -1px $dark-gray;
}

.friend-request-response-buttons {
  position: absolute;
  height: 25px;
  right: 18px;
  bottom: 70px;
  font-size: 12px;
  text-align: center;
}

.friend-request-accept-reject {
  height: 100%;
}

.add-friend {
  height: 100%;
  width: 100px;
  font-size: 12px;
  text-align: center;
  background: $gray-background-light;
  color: $dark-gray-font;
  border: 1px solid black;
  border-radius: 2px;
}

.currently-friends {
  width: 90px;
}

.cancel-request {
  width: 140px;
  height: 100%;
}

.accept-request {
  width: 140px;
  height: 100%;
  margin-right: 18px;
}

.add-friend img {
  display: inline-block;
  height: 10px;
  width: auto;
  margin-right: 7px
}

.profile-tabs {
  background: white;
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  border: 1px solid $gray-light-border;
  margin-bottom: 27px;
  color: $blue-dark-font;
}

.profile-tabs a {
  padding: 15px 20px;
  font-weight: bold;
  border-left: 1px solid $gray-lighter-border;
}


.profile-tabs > a:first-child {
  margin-left: 206px
}

.profile-tabs > a:last-child {
  border-right: 1px solid $gray-lighter-border;
}
.profile-tabs a:hover {
  background: $gray-background-light;
}

/* PROFILE CONTENT **************************/
.profile-body {
  display: flex;
  justify-content: space-between;
}

.profile-left {

}

.col-1-3 {
  width: 39%;
}

.col-2-3 {
  width: 58%;
}

.profile-about-sidebar {

}

.profile-main {

}
