@import 'colors';

/* GENERAL DEFAULTS **************************/

html, body {
  height: 100%;
  background-color: $gray-background-default;
}

.profile-page {
  margin: 0 auto;
  font-family: "Lucida Grande", "Tahoma", 'Freight Sans Bold', helvetica, arial, sans-serif !important;
  width: 900px;
}

/* PROFILE HEADER **************************/

.profile-nav {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}

.background-img {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
  background-color: $dark-gray;
  z-index: 5;
}

.profile-img {
  display: block;
  position: absolute;
  margin-top: -134px;
  margin-left: 20px;
  height: 160px;
  width: 160px;
  background-color: #white;
  border: 4px solid white;
  border-radius: 2px;
  box-shadow: 1px 1px $gray-shadow;
  z-index: 10;
}

.profile-nav h1 {
  position: absolute;
  top: 93px;
  left: 219px;
  color: white;
  font-size: 29px;
  z-index: 15;
}

.profile-tabs {
  background: white;
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid $gray-lighter-border;
  border-top: 1px solid $gray-lighter-border;
  margin-bottom: 27px;
  color: $blue-dark-font;
}

.profile-tabs a {
  padding: 15px 20px;
  font-weight: bold;
  border-left: 1px solid $gray-lighter-border;
}


.profile-tabs > a:first-child {
  margin-left: 206px
}

.profile-tabs > a:last-child {
  border-right: 1px solid $gray-lighter-border;
}
.profile-tabs a:hover {
  background: $gray-background-light;
}

/* PROFILE CONTENT **************************/

.profile-body {
  display: flex;
  justify-content: space-between;
}

.profile-left {

}

.col-1-3 {
  width: 39%;
}

.col-2-3 {
  width: 58%;
}

.profile-about-sidebar {

}

.profile-main {

}
