/* NEW POST FORM **********************/

.new-post-form-container {

}

.new-post-form-container nav {
  background-color: #F6F7F9;
  border-top: 1px solid #D4D5DC;
  border-left: 1px solid #D4D5DC;
  border-right: 1px solid #D4D5DC;
  display: flex;
  align-items: center;
}

.icon-status {
  background-color: #6B74C9;
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: 10px;
  margin-left: 17px;
  border-radius: 3px;
}

.icon-photo {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px;
  margin-left: 25px;
}

.new-post-form {
  background: white;
  border: 1px solid #D4D5DC;
}

.new-post-body {
  position: relative;
}

.new-post-profile-pic {
  height: 75px;
  width: 75px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.new-post-text-container {
  min-height: 80px;
  padding-top: 37px;
  display: inline-block;
  width: 100%;
}

.new-post-text-container textarea {
  margin-left: 122px;
  resize: none;
}

.new-post-body input[type="text"] {
  width: 60%;
  margin: auto;
}

.new-post-submit {
  display: inline-block;
  background: white;
  width: 100%;
  border-top: 1px solid #D4D5DC;
}

.new-post-submit input[type="submit"] {
  background: #5459B9;
  border: 1px solid #29487D;
  padding: 3px 14px;
  height: auto;
  align-self: center;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin: 7px 8px 5px 10px;
}

/* POST INDEX ITEMS **********************/
.post-item-container {
  background: white;
  margin: 10px;
  position: relative;
}

.post-author-info {

}

.post-author-info img {
  height: 77px;
  width: auto;
  display: inline-block;
}

.post-author-info h5 {
  display: inline-block;
  color: #365899;
  margin: 0 auto;
}

.post-footer {

}

.post-item-container p:after {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  background-color: #D4D5DC;
  position: absolute;
  left: 13px;
}
